.inotify-block {
  position: relative;
}
.inotify-block .inotify-block-content {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1000;
  min-width: 12rem;
  background-color: #d3d3d3;
  max-height: 250px;
  overflow: scroll;
  display: none;
  border: 1px solid #a9a9a9;
}
.inotify-block .view-empty {
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
.inotify-block .inotify-block-content.active {
  display: block;
}
.inotify-block .inotify-opener:hover {
  cursor: pointer;
}
.inotify-block .inotify-opener img {
  width: 20px;
  margin: 10px;
}
.inotify-block .inotify-opener .count {
  position: absolute;
  top: 0;
  right: 0px;
  display: block;
  height: 16px;
  width: 16px;
  background: #ff0000;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  text-align: center;
}
.inotify-block .inotify-opener .count.hidden {
  display: none;
}
.inotify-notification-container {
  padding: 10px;
  border-bottom: 1px solid #a9a9a9;
}
.inotify-notification-container a {
  display: block;
}
.inotify-notification-container.unread {
  background-color: #a9a9a9;
}
