{% if view_mode == 'default' %}
  {%
    set status = content.is_read == 0 ? 'unread' : 'read'
  %}
  <div class="inotify-notification-container {{ status }}">
    <a href="{{ content.link }}">
      <div class="inotify-notification-title"><h5>{{ content.title }}<h5></div>
      <div class="inotify-notification-description"><p>{{ content.description }}</p></div>
      <div class="inotify-notification-description"><p>{{ content.created }}</p></div>
    </a>
  </div>
{% else %}
  {{ content }}
{% endif %}
